@keyframes left-to-right-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes right-to-left-out {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes scale-xy-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes scale-xy-out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
@keyframes up-to-down-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes down-to-up-out {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}
@keyframes right-to-left-change{
    from {
        transform: translateX(0%) scale(1);
		
    }
    to {
        transform: translateX(-80%) scale(0.8);
    }	
}
.head{
    animation: up-to-down-in 1s;
}
.left-group{
    animation: left-to-right-in 1s;
}
.left-group.hide{            
    animation: right-to-left-out 1s;
}
.right-group{
    animation: up-to-down-in 1s;
}
.right-group.hide{            
    animation: down-to-up-out 1s;
}
.foot{
    animation: left-to-right-in 1s;
}
.foot.hide{
    animation: right-to-left-out 1s;
}
.menu{
    transition: left 350ms;
    animation: up-to-down-in 0.3s;
}

.menu.hide{
    animation: down-to-up-out 0.3s;
}

img.left{
    animation: right-to-left-change 1s;
}

img{
    transition: width 350ms;
    animation: scale-xy-in 0.5s;
}